*{ margin:0; padding:0;}
body{ font-size:14px; 
	  font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	  font-style:normal;}
a{ text-decoration:none}
a,a:hover{  transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear;}
em, i{font-style: normal;}
ul, ol, li{list-style: none;}
img{ border:none;vertical-align:middle;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
p{line-height:22px;}
.fl{float: left;}
.fr{float: right;}
.clear{ clear:both; height:0px; width:100%; overflow:hidden;}
.orange{
	color: #E8A100;
}
.white{
	color: #fff;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.login{
	width: 25%;
	background-color: #f0f0f0;
	margin: 10% auto 0;
	border-radius: 13px;
	padding: 36px 0;
	border: 1px solid #888;
}
h1{
	font-weight: normal;
	font-size: 24px;
}
.login p{
	color: #333;
	font-size: 14px;
	width: 80%;
	margin: 15px auto 5px;
}
.login .put{
	width: 80%;
	/*height: 28px;
	line-height: 28px;*/
	padding: 2% 0;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 8px;
	text-indent: 8px;
}
.login .submit{
	display: block;
	width: 30%;
	padding: 2% 0;
	/*height: 28px;
	line-height: 28px;*/
	text-align: center;
	background-color: #E8A100;
	margin: 40px auto 0;
	border-radius: 8px;
	color: #fff;
	font-size: 14px;
}
.login .submit:hover{
	cursor: pointer;
}
/*/////表单///////*/
.head{
	width: 100%;
	background-color: #E8A100;
	border: 1px solid #888;
}
.head .container{
	width: 68%;
	margin-left: 20%;
	position: relative;
}
.head h1{
	padding-top: 20px;
	margin-bottom: 30px;
}
.head .link{
	overflow: hidden;
	padding-bottom: 10px;
}
.head .link p,.export{
	color: #fff;
	font-size: 18px;
}
.head .link .find{
	width: 30%;
	padding: 0.5em 0;
	/*height: 30px;
	line-height: 30px;*/
	background-color: #fff;
	border-radius: 10px;
	margin: 0 15px;
	text-indent: 8px;
}
.head .link .func{
	/*width: 10%;*/
	/*height: 30px;
	line-height: 30px;*/
	/*padding: 1em 0;*/
	width: 1.8em;
	height: 1.8em;
	background: url(../img/code.png) no-repeat;
	background-size: 90%;
	background-position: center;
	/*background-color: #fff;*/
	/*overflow: hidden;*/
	position: relative;
}
/*.head .link .func div{
	width: 25%;
	height: 22px;
	margin: 4px 4%;
}*/
.head .link .func div:hover{
	cursor: pointer;
}
.head .big{
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	position: absolute;
	left: 35%;
	top: 98%;
	background-color: #fff;
	/*border-top: 1px solid #888;*/
	display: none;
}
/*.head .triangle{
	width: 0;
	height: 0;
	overflow: hidden;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #fff;
    position: absolute;
    left: 50%;
    top: 1.8em;
    margin-left: -8px;
    display: none;
}*/
/*.head .link .func .copy{
	background: url(../img/copy.png) no-repeat;
	background-size: 90%;
	background-position: center;
}
.head .link .func .code{
	background: url(../img/code.png) no-repeat;
	background-size: 90%;
	background-position: center;
}
.head .link .func .share{
	background: url(../img/share.png) no-repeat;
	background-size: 90%;
	background-position: center;
}*/
.table-wrap{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.table-wrap table{
	border-collapse:collapse;
	margin-left: 20%;
	margin-top: 50px;
	text-align: center;
}
.table-wrap table th,td{
	height: 40px;
	border: 1px solid #888;
}
.table-wrap table th{
	background-color: #D5D5D5;
}
.table-wrap table .a{
	width: 3%;
}
.table-wrap table .b{
	width: 4%;
}
.table-wrap table .c{
	width: 7%;
}
.table-wrap table .d,.e{
	width: 10%;
}
.table-wrap table .f{
	width: 12%;
}
.table-wrap table .g{
	width: 11%;
}
.table-wrap table .i,.j,.k{
	width: 5%;
}
.table-wrap table .h{
	width: 13%;
	border: 0;
	background-color: #fff;
	overflow: hidden;
}
.table-wrap table .h div{
	display: inline-block;
	padding: 2px 0;
	font-size: 14px;
	border: 1px solid #888;
	border-radius: 5px;
	width: 35%;
	text-align: center;
}
.table-wrap table .h .del{
	background-color: #FFB91A;
	color: #fff;
	float: right;
}
.table-wrap table .h .edit{
	background-color: #FFE781;
	color: #888;
	float: left;
	margin-left: 15%;
}
.table-wrap table .h div:hover{
	cursor: pointer;
}
.table-wrap table .a input{
	display: block;
	margin: 0 auto;
}